.navbar-icon {
	width: 32px;
	height: 32px;
	margin-right: 15px;
}

main {
	margin-top: 20px;
}

#wrapper {
    text-align: center;
}

#map {
    margin: 0 auto;
    height: 600px;
    width: 1000px;
}

#footer {
    margin-top: 20px;
    font-size: 15px;
}

.info-window-img {
    width: 250px;
}

.info-window-wrapper {
    text-align: left;
}
