#wrapper {
    text-align: center;
}

#map {
    margin: 0 auto;
    height: 600px;
    width: 1000px;
}

#footer {
    margin-top: 20px;
    font-size: 15px;
}

.map-icon-label .map-icon {
    font-size: 20px;
    color: #000000;
    line-height: 56px;
    text-align: center;
    white-space: nowrap;
}

.info-window-img {
    width: 250px;
}
